.profile__avatar-button {
    width: 120px;
    height: 120px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.profile__avatar-button::before {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    opacity: 0;
    content: '';
}
@media (hover: hover) and (pointer: fine) {
    .profile__avatar-button:hover::before {
        opacity: 1;
        transition: opacity 0.3s linear;
        cursor: pointer;
    }
}