.popup__title {
    color: #000;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    font-style: normal;
    padding: 0 0 46px 0;
    margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__title {
            font-size: 18px;
        }
}