.auth__submit_disabled {
  background-color: #e7e7e7;
  color: #bdbdbd;
  cursor: default;
  border: 1px solid #000;
  opacity: .6;
  transition: none;
}
.auth__submit_disabled:hover {
  opacity: .6;
}