.popup__container {
    max-width: 430px;
    min-height: 330px;
    background: white;
    border-radius: 10px;
    position: relative;
}

.popup__container_avatar {
    min-height: 185px;
}

.popup__container_delete {
    min-height: 181px;
    width: 430px;
}

@media screen and (max-width: 920px) {
    .popup__container {
        max-width: 282px;
        min-height: 322px;
    }

    .popup__container_delete {
        min-height: 100px;
        width: 430px;
    }

    .popup__container_avatar {
        min-height: 185px;
    }
}