.element__like {
    max-width: 22px;
    width: 100%;
    min-height: 19px;
    height: 100%;
    background-color: transparent;
    background: url(../../../images/like-button-disabled.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    outline: none;
    padding: 0;
    margin: 0 5px 0 0;
    cursor: pointer;
    transition: opacity .5s ease;
}
.element__like:hover {
  opacity: 0.6;
}