.element__image-basket {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/trash-icon.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    transition: opacity .5s ease;
    position: absolute;
    top: 20px;
    right: 20px;
}
.element__image-basket:hover {
  opacity: 0.6;
}